@import './judoVariable';
@import './color';

/* beast */

.beast-boxcontrol {
    position: absolute;
    top: 134px;
    left: 41%;
    z-index: 99999;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    perspective: 1000px;
    @include ani(beastboxcontrol1);
    @keyframes beastboxcontrol1 {
        10% {
            top: 146px
        }
    }
    .beast-sensor-top {}
    .beast-sensor-left {}
    .beast-sensor-right {}
    .beast-head {
        position: absolute;
        top: -5px;
        left: 3px;
        width: 36px;
        height: 37px;
        border-radius: 0 0 5px 5px;
        background: $orange5;
        transform-origin: center bottom;
        animation: beasthead1 1s linear infinite;
        @keyframes beasthead1 {
            10% {
                transform: translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                left: 0px;
                transform: translateZ(-260px);
            }
            90% {
                transform: translateZ(145px)
            }
            100% {
                transform: translateZ(10px)
            }
        }
        .beast-hair {
            position: absolute;
            top: -9px;
            left: 0px;
            width: 36px;
            height: 10px;
            background: #fff59d;
        }
        .beast-eyebrow {
            position: absolute;
            top: 10px;
            left: 1px;
            width: 16px;
            height: 3px;
            border-radius: 0 5px 0 5px;
            background: $yellow7;
            transform: rotatez(30deg);
            transform-origin: right center;
            .beast-eye {
                position: absolute;
                top: 3px;
                left: 2px;
                overflow: hidden;
                width: 13px;
                height: 2px;
                border-radius: 20px;
                background: white;
                -ms-transform: rotate(-29deg);
                transform: rotatez(-29deg);
                .beast-eyeball {
                    position: absolute;
                    top: -1px;
                    left: 5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 10px;
                    background: brown;
                }
            }
        }
        .beast-eyebrow2 {
            position: absolute;
            top: 10px;
            left: 22px;
            width: 13px;
            height: 3px;
            border-radius: 0 5px 0 5px;
            background: #fff59d;
            transform: rotatez(-30deg);
            transform-origin: left center;
            .beast-eye2 {
                position: absolute;
                top: 3px;
                left: 0px;
                overflow: hidden;
                width: 12px;
                height: 2px;
                border-radius: 20px;
                background: white;
                transform: rotatez(30deg);
                .beast-eyeball2 {
                    position: absolute;
                    top: -1px;
                    left: 4px;
                    width: 4px;
                    height: 4px;
                    border-radius: 10px;
                    background: brown;
                }
            }
        }
        .beast-nose {
            position: absolute;
            top: 15px;
            left: 14px;
            width: 9px;
            height: 10px;
            border-right: 2px solid orange;
            border-bottom: 2px solid orange;
            border-left: 2px solid orange;
            background: $orange2;
        }
        .beast-lips {
            position: absolute;
            top: 24px;
            left: 9px;
            .beast-mouth {
                position: absolute;
                top: 2px;
                left: 1px;
                z-index: 999;
                width: 16px;
                height: 6px;
                border-radius: 0 0 5px 5px;
                background: $red8;
                animation: beastmouth1 1s linear infinite;
                @keyframes beastmouth1 {
                    50% {
                        height: 12px;
                    }
                }
                .beast-teeth {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 16px;
                    height: 2px;
                    background: white;
                }
                .beast-tougn {
                    position: absolute;
                    top: 7px;
                    left: 3px;
                    width: 10px;
                    height: 10px;
                    border-radius: 0 0 5px 5px;
                    background: red;
                    transform-origin: center top;
                    animation: beasttougn1 1s linear infinite;
                    @keyframes beasttougn1 {
                        10%,
                        30%,
                        50%,
                        70%,
                        90% {
                            transform: rotateZ(10deg)
                        }
                        20%,
                        40%,
                        60%,
                        80%,
                        100% {
                            transform: rotateZ(-10deg)
                        }
                    }
                }
            }
        }
        .beast-ear {
            position: absolute;
            top: 9px;
            left: -4px;
            width: 4px;
            height: 15px;
            border-radius: 3px 0 0 3px;
            background: $orange4;
        }
        .beast-ear2 {
            position: absolute;
            top: 9px;
            left: 36px;
            width: 4px;
            height: 14px;
            border-radius: 0 3px 3px 0;
            background: $orange4;
        }
        .beast-face-side {
            position: absolute;
            top: 15px;
            left: 0px;
            width: 14px;
            height: 5px;
            border-radius: 0 0 0 5px;
            background: $orange3;
        }
        .beast-face-side2 {
            position: absolute;
            top: 14px;
            left: 23px;
            width: 14px;
            height: 5px;
            border-radius: 0 0 5px 0;
            background: $orange3;
        }
        .beast-jaw {
            position: absolute;
            top: 34px;
            left: 10px;
            z-index: 99;
            width: 16px;
            height: 10px;
            border-radius: 0 0 5px 5px;
            background: $orange4;
        }
    }
    .beast-neck {
        position: absolute;
        top: 32px;
        left: 7px;
        z-index: -1;
        width: 27px;
        height: 10px;
        background: $orange6;
    }
    .beast-body {
        position: absolute;
        top: 42px;
        left: -11px;
        width: 58px;
        border-top: 33px solid $orange6;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        animation: beastbody1 1s linear infinite;
        @keyframes beastbody1 {
            10% {
                transform: translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateZ(-160px);
            }
            90% {
                transform: translateZ(-35px)
            }
            100% {
                transform: translateZ(10px)
            }
        }
    }
    .beast-triangle {
        position: absolute;
        top: -39px;
        left: -3px;
        width: 18px;
        height: 16px;
        border-radius: 5px 5px 0 0;
        background: #ff9800;
        animation: beasttriangle1 1s linear infinite;
        @keyframes beasttriangle1 {
            10% {
                transform: translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateZ(-160px)
            }
            90% {
                transform: translateZ(145px)
            }
            100% {
                transform: translateZ(10px)
            }
        }
    }
    .beast-triangle2 {
        position: absolute;
        top: -40px;
        left: 37px;
        width: 16px;
        height: 16px;
        border-radius: 5px 5px 0 0;
        background: #ff9800;
        animation: beasttriangle1 1s linear infinite;
    }
    .beast-tatoo {
        position: absolute;
        top: -37px;
        left: 16px;
        z-index: 999;
        font-size: 30px;
    }
    .beast-chest {
        position: absolute;
        top: -28px;
        left: 2px;
        width: 20px;
        height: 10px;
        border-radius: 0 0 0 10px;
        background: #ffb74d;
        animation: beastchest1 1s linear infinite;
        @keyframes beastchest1 {
            10% {
                transform: translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateZ(-170px)
            }
            90% {
                transform: translateZ(145px)
            }
            100% {
                transform: translateZ(0px)
            }
        }
    }
    .beast-chest2 {
        position: absolute;
        top: -28px;
        left: 29px;
        width: 19px;
        height: 10px;
        border-radius: 0 0 10px 0;
        background: #ffb74d;
        animation: beastchest1 1s linear infinite;
    }
    .beast-arm {
        position: absolute;
        top: -33px;
        left: -13px;
        width: 13px;
        height: 10px;
        border-radius: 5px 0 0 0;
        background: #ff9800;
        -ms-transform-origin: right center;
        transform-origin: right center;
        .beast-bicep {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 13px;
            height: 19px;
            border-radius: 3px;
            background: #ffa726;
            .beast-lowarm {
                position: absolute;
                top: 19px;
                left: 0px;
                z-index: 9999999;
                width: 12px;
                height: 18px;
                background: #ff9800;
                transform-origin: center top;
                .beast-hand {
                    position: absolute;
                    top: 14px;
                    left: 0px;
                    width: 12px;
                    height: 10px;
                    border-radius: 5px;
                    background: #ffb74d;
                }
            }
        }
    }
    .beast-arm2 {
        position: absolute;
        top: -34px;
        left: 48px;
        z-index: 9999;
        width: 12px;
        height: 10px;
        border-radius: 0 5px 0 0;
        background: #ff9800;
        -ms-transform-origin: left center;
        transform-origin: left center;
        .beast-bicep2 {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 12px;
            height: 21px;
            border-radius: 3px;
            background: #ffa726;
            .beast-lowarm2 {
                position: absolute;
                top: 20px;
                left: 0px;
                width: 11px;
                height: 17px;
                background: #ff9800;
                transform: rotatez(0deg)rotateX(0deg);
                transform-origin: center top;
                .beast-hand2 {
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    width: 11px;
                    height: 10px;
                    border-radius: 5px 5px 5px 5px;
                    background: #ffb74d;
                }
            }
        }
    }
    /*beast arm2*/
    .beast-peegu {
        position: absolute;
        top: 70px;
        left: -6px;
        width: 48px;
        height: 22px;
        background: red;
        transform-origin: center top;
        animation: beastpeegu1 1s linear infinite;
        @keyframes beastpeegu1 {
            10% {
                transform: translateY(1px)translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateY(-1px)translateZ(-160px);
            }
            90% {
                transform: translateY(1px)translateZ(0px)
            }
            100% {
                transform: translateY(-1px)translateZ(0px)
            }
        }
        .beast-champ-line {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 11px;
            background: $yellow4;
            animation: beastchampline 1s linear infinite;
            @keyframes beastchampline {
                10% {
                    transform: translateZ(0px)
                }
                20%,
                40%,
                60%,
                80% {
                    transform: translateZ(60px);
                }
                90% {
                    transform: translateZ(5px)
                }
                100% {
                    transform: translateZ(10px)
                }
            }
            .beast-champ {
                position: absolute;
                top: -14px;
                left: 5px;
                z-index: 9999;
                width: 40px;
                height: 40px;
                border: 1px solid $yellow2;
                border-radius: 30px;
                background: $yellow7;
                text-align: center;
                font-size: 20px;
                font-family: impact;
                line-height: 40px;
            }
        }
        .beast-leg {
            position: absolute;
            top: 19px;
            left: 5px;
            width: 15px;
            height: 13px;
            background: #ff9800;
            transform-origin: center top;
            .beast-short {
                position: absolute;
                top: 0px;
                left: -5px;
                z-index: 999;
                width: 26px;
                height: 9px;
                background: red;
            }
            .beast-legguto {
                position: absolute;
                top: 13px;
                left: 0px;
                width: 15px;
                height: 7px;
                border-radius: 0 0 5px 5px;
                background: red;
                transform-origin: center top;
                .beast-lowleg {
                    position: absolute;
                    top: 5px;
                    left: 2px;
                    width: 10px;
                    height: 6px;
                    background: #ff9800;
                    transform-origin: center top;
                    .beast-shoe {
                        position: absolute;
                        top: 6px;
                        left: -1px;
                        width: 11px;
                        height: 7px;
                        background: red;
                        -ms-transform-origin: center top;
                        transform-origin: center top;
                        .beast-shoefoot {
                            position: absolute;
                            top: 7px;
                            left: 0px;
                            width: 11px;
                            height: 11px;
                            background: red;
                            .beast-shoefootfront {
                                position: absolute;
                                top: 0px;
                                left: 2px;
                                z-index: -9999;
                                width: 10px;
                                height: 15px;
                                border-radius: 15px 0;
                                background: red;
                                transform: rotatez(29deg);
                                transform-origin: center top;
                            }
                        }
                    }
                }
            }
        }
        /* beast-leg*/
        .beast-leg2 {
            position: absolute;
            top: 22px;
            left: 27px;
            width: 15px;
            height: 12px;
            background: #ff9800;
            transform-origin: center top;
            .beast-short2 {
                position: absolute;
                top: -3px;
                left: -4px;
                width: 25px;
                height: 9px;
                background: red;
            }
            .beast-legguto2 {
                position: absolute;
                top: 11px;
                left: 0px;
                width: 15px;
                height: 5px;
                border-radius: 0 0 5px 5px;
                background: red;
                .beast-lowleg2 {
                    position: absolute;
                    top: 4px;
                    left: 2px;
                    width: 10px;
                    height: 6px;
                    background: orange;
                    .beast-shoe2 {
                        position: absolute;
                        top: 6px;
                        left: 0px;
                        width: 11px;
                        height: 10px;
                        background: red;
                        transform-origin: center top;
                        .beast-shoefoot2 {
                            position: absolute;
                            top: 7px;
                            left: 0px;
                            width: 11px;
                            height: 10px;
                            background: red;
                            transform-origin: center top;
                            .beast-shoefootfront2 {
                                position: absolute;
                                top: 9px;
                                left: -4px;
                                z-index: -99999;
                                width: 10px;
                                height: 14px;
                                border-radius: 0px 15px;
                                background: red;
                                -ms-transform: rotate(63deg);
                                transform: rotatez(-99deg);
                                -ms-transform-origin: center top;
                                transform-origin: center top;
                            }
                        }
                    }
                }
            }
        }
    }
    .beast-effect1 {}
    .beast-effect2 {}
    .beast-effect3 {}
    .beast-effect4 {}
    .beast-effect5 {}
    .beast-effect6 {}
    .beast-effect7 {}
    .beast-effect8 {}
    .beast-effect9 {}
    .beast-effect10 {}
    .beast-effect11 {}
    .beast-weapon {
        position: absolute;
        left: 21px;
        z-index: 999999;
        width: 6px;
        height: 98px;
        background: #5d4037;
        animation: beastweapon1 1s linear infinite;
        @keyframes beastweapon1 {
            10% {
                top: -49px;
                left: 16px;
                height: 98px;
                transform: rotateZ(0deg)translateZ(0px)
            }
            20%,
            40%,
            60%,
            80% {
                top: -60px;
                left: 16px;
                height: 98px;
                transform: rotateZ(0deg)translateZ(0px)
            }
            90% {
                top: 56px;
                left: 13px;
                height: 0px;
                transform: rotateZ(0deg)translateZ(470px)
            }
            100% {
                top: 73px;
                left: 13px;
                height: 40px;
                transform: rotateZ(0deg)translateZ(435px)
            }
        }
        .beast-weapon-head {
            position: absolute;
            top: -4px;
            left: -10px;
            width: 25px;
            height: 18px;
            border: 1px solid white;
            background: black;
            animation: beastweaponhead 1s linear infinite;
            @keyframes beastweaponhead {
                90% {
                    top: -19px;
                    left: -13px;
                    width: 33px;
                    height: 25px;
                }
                100% {
                    top: 26px;
                    left: -13px;
                    width: 33px;
                    height: 25px;
                }
            }
        }
    }
}

.beast-arm1 {
    position: absolute;
    top: 38px;
    left: -13px;
    width: 13px;
    height: 10px;
    border-radius: 5px 0 0 0;
    background: #ff9800;
    -ms-transform-origin: right center;
    transform-origin: right center;
    animation: beastarm1 1s linear infinite;
    @keyframes beastarm1 {
        10% {
            transform: rotatez(-93deg)translateZ(0px);
        }
        20%,
        40%,
        60%,
        80% {
            transform: rotateZ(-140deg)translateZ(-160px)
        }
        90% {
            transform: rotateZ(-55deg)translateZ(160px)
        }
        100% {
            transform: rotateZ(-26deg)translateZ(0px);
        }
    }
    .beast-bicep1 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 13px;
        height: 19px;
        border-radius: 3px;
        background: #ffa726;
        .beast-lowarm1 {
            position: absolute;
            top: 19px;
            left: 0px;
            z-index: 9999999;
            width: 12px;
            height: 18px;
            background: #ff9800;
            transform-origin: center top;
            animation: beastlowarm1 1s linear infinite;
            @keyframes beastlowarm1 {
                10% {
                    transform: rotatez(-58deg)translateZ(0px)
                }
                20%,
                40%,
                60%,
                80% {
                    transform: rotateZ(-4deg)translateZ(-160px)
                }
                90% {
                    transform: rotateZ(-96deg)translateZ(160px)
                }
                100% {
                    transform: rotateZ(-33deg)translateZ(60px)
                }
            }
            .beast-hand1 {
                position: absolute;
                top: 14px;
                left: 0px;
                width: 12px;
                height: 10px;
                border-radius: 5px;
                background: #ffb74d;
            }
        }
    }
}

.beast-arm21 {
    position: absolute;
    top: 38px;
    left: 41px;
    z-index: 9999;
    width: 12px;
    height: 10px;
    border-radius: 0 5px 0 0;
    background: #ff9800;
    -ms-transform-origin: left center;
    transform-origin: left center;
    animation: beastarm21 1s linear infinite;
    @keyframes beastarm21 {
        10% {
            transform: rotateZ(72deg)translateZ(0px)
        }
        20%,
        40%,
        60%,
        80% {
            transform: rotateZ(128deg)translateZ(-160px)
        }
        90% {
            transform: rotateZ(58deg)translateZ(160px)
        }
        100% {
            transform: rotateZ(42deg)translateZ(0px)
        }
    }
    .beast-bicep21 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 12px;
        height: 21px;
        border-radius: 3px;
        background: #ffa726;
        .beast-lowarm21 {
            position: absolute;
            top: 20px;
            left: 0px;
            width: 11px;
            height: 17px;
            background: #ff9800;
            transform: rotatez(0deg)rotateX(0deg);
            transform-origin: center top;
            animation: beastlowarm21 1s linear infinite;
            @keyframes beastlowarm21 {
                10% {
                    transform: rotateZ(86deg)rotateX(0deg)translateZ(0px)
                }
                20%,
                40%,
                60%,
                80% {
                    transform: rotateZ(40deg)rotateX(0deg)translateZ(-160px)
                }
                90% {
                    transform: rotateZ(90deg)rotateX(52deg)
                }
                100% {
                    transform: rotateZ(21deg)rotateX(48deg)translateZ(60px)
                }
            }
            .beast-hand21 {
                position: absolute;
                top: 13px;
                left: 0px;
                width: 11px;
                height: 10px;
                border-radius: 5px 5px 5px 5px;
                background: #ffb74d;
            }
        }
    }
}

.beast-leg1 {
    position: absolute;
    top: 92px;
    left: -3px;
    width: 15px;
    height: 13px;
    background: #ff9800;
    transform-origin: center top;
    animation: beastleg1 1s linear infinite;
    @keyframes beastleg1 {
        10%,
        30%,
        50% {}
        20%,
        40%,
        60% {}
        70%,
        80%,
        100% {}
    }
    .beast-short1 {
        position: absolute;
        top: 0px;
        left: -5px;
        z-index: 999;
        width: 26px;
        height: 9px;
        background: red;
        animation: beastshort1 1s linear infinite;
        @keyframes beastshort1 {
            70%,
            80%,
            100% {}
        }
    }
}

.beast-legguto1 {
    position: absolute;
    top: 105px;
    left: -3px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    transform-origin: center top;
    animation: beastlegguto1 1s linear infinite;
    @keyframes beastlegguto1 {
        10%,
        30%,
        50% {}
        20%,
        40%,
        60% {}
        70%,
        80%,
        100% {}
    }
}

.beast-lowleg1 {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 10px;
    height: 6px;
    background: #ff9800;
    transform-origin: center top;
    animation: beastlowleg1 1s linear infinite;
    @keyframes beastlowleg1 {
        10%,
        30%,
        50% {
            top: 3px;
        }
        20%,
        40%,
        60% {
            top: 1px;
        }
        70%,
        80%,
        100% {
            top: 5px;
            left: 5px;
            width: 12px;
        }
    }
    .beast-shoe1 {
        position: absolute;
        top: 6px;
        left: -1px;
        width: 11px;
        height: 7px;
        background: red;
        -ms-transform-origin: center top;
        transform-origin: center top;
        animation: beastshoe1 1s linear infinite;
        @keyframes beastshoe1 {}
        .beast-shoefoot1 {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 11px;
            height: 11px;
            background: red;
            animation: beastshoe1 1s linear infinite;
            .beast-shoefootfront1 {
                position: absolute;
                top: 0px;
                left: 2px;
                z-index: -9999;
                width: 10px;
                height: 15px;
                border-radius: 15px 0;
                background: red;
                transform: rotatez(29deg);
                transform-origin: center top;
                animation: beastshoefootfront1 1s linear infinite;
                @keyframes beastshoefootfront1 {
                    70%,
                    80%,
                    100% {
                        top: -7px;
                        left: -1px;
                        height: 16px;
                        transform: rotateZ(-24deg)
                    }
                }
            }
        }
    }
}

.beast-leg21 {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 15px;
    height: 12px;
    background: #ff9800;
    transform-origin: center top;
    animation: beastleg21 1s linear infinite;
    @keyframes beastleg21 {
        10%,
        30%,
        50% {
            top: 22px;
        }
        20%,
        40%,
        60% {
            top: 16px;
        }
        70%,
        80%,
        100% {
            top: 22px;
            left: 27px;
        }
    }
    .beast-short21 {
        position: absolute;
        top: -3px;
        left: -4px;
        width: 25px;
        height: 9px;
        background: red;
        animation: beastshort21 1s linear infinite;
        @keyframes beastshort21 {
            70%,
            80%,
            100% {
                height: 13px;
            }
        }
    }
}

.beast-legguto21 {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 15px;
    height: 5px;
    border-radius: 0 0 5px 5px;
    background: red;
    animation: beastlegguto21 1s linear infinite;
    @keyframes beastlegguto21 {
        10%,
        30%,
        50% {
            top: 8px
        }
        20%,
        40%,
        60% {
            top: 7px;
        }
        70%,
        80%,
        100% {
            top: 11px;
            left: 0px;
        }
    }
}

.beast-lowleg21 {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 6px;
    background: orange;
    animation: beastlowleg21 1s linear infinite;
    @keyframes beastlowleg21 {
        10%,
        30%,
        50% {
            top: 4px;
        }
        20%,
        40%,
        60% {
            top: 0px;
            transform: rotateZ(24deg)
        }
        70%,
        80%,
        100% {
            top: 4px;
            left: 2px;
        }
    }
    .beast-shoe21 {
        position: absolute;
        top: 6px;
        left: 0px;
        width: 11px;
        height: 10px;
        background: red;
        transform-origin: center top;
        animation: beastshoe1 1s linear infinite;
        .beast-shoefoot21 {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 11px;
            height: 10px;
            background: red;
            transform-origin: center top;
            animation: beastshoe1 1s linear infinite;
            .beast-shoefootfront21 {
                position: absolute;
                top: 9px;
                left: -4px;
                z-index: -99999;
                width: 10px;
                height: 14px;
                border-radius: 0px 15px;
                background: red;
                -ms-transform: rotate(63deg);
                transform: rotatez(-99deg);
                -ms-transform-origin: center top;
                transform-origin: center top;
                animation: beastshoefootfront2 1s linear infinite;
                @keyframes beastshoefootfront {
                    70%,
                    80%,
                    100% {
                        top: -13px;
                        left: 1px;
                        height: 16px;
                        transform: rotateZ(6deg)
                    }
                }
            }
        }
    }
}