/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
  font-size: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  height: 1%; }

.clearfix {
  display: flow-root; }

input[type='button'], input[type='submit'], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

button {
  outline: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

.magic-boxcontrol {
  position: absolute;
  width: 100px;
  height: 100px;
  outline: 1px solid white;
  left: 60%;
  top: 335px;
  z-index: 999999;
  cursor: pointer; }

.magic-hat {
  width: 50px;
  border-bottom: 24px solid #e91e63;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 25%; }
  .magic-hat .magic-hat2 {
    border-bottom: 30px solid #d81b60;
    border-left: 15px solid transparent;
    border-right: 10px soild transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -28px; }
  .magic-hat .magic-hair {
    width: 15px;
    height: 35px;
    background: linear-gradient(to left, #ffee58, #f9a825);
    position: absolute;
    top: 16px;
    left: -12px;
    border-radius: 40px 0 0 40px;
    z-index: -9999; }
    .magic-hat .magic-hair .magic-hair2 {
      position: absolute;
      width: 15px;
      height: 35px;
      background: linear-gradient(to right, #ffee58, #f9a825);
      top: 2px;
      left: 39px;
      border-radius: 0 30px 30px 0px; }
      .magic-hat .magic-hair .magic-hair2 .magic-hair4 {
        width: 24px;
        height: 10px;
        background: #ffee58;
        position: absolute;
        top: 1px;
        left: -24px; }
  .magic-hat .magic-hair3 {
    width: 20px;
    height: 28px;
    border-radius: 0 18px 0 23px;
    background: #d32f2f;
    position: absolute;
    top: 34px;
    left: -13px;
    transform-origin: center top;
    transform: rotatez(31deg);
    z-index: -99; }

.magic-head {
  width: 30px;
  height: 30px;
  background: #ffe0b2;
  top: 25px;
  position: absolute;
  left: 35px;
  border-radius: 0 0 17px 21px;
  z-index: -999999; }
  .magic-head .magic-eyebrow {
    width: 4px;
    height: 1px;
    background: darkred;
    position: absolute;
    top: 6px;
    left: 5px; }
  .magic-head .magic-eyebrow2 {
    width: 4px;
    height: 1px;
    background: darkred;
    position: absolute;
    top: 6px;
    left: 21px; }
  .magic-head .magic-eye {
    width: 10px;
    height: 5px;
    background: white;
    position: absolute;
    top: 8px;
    left: 1px;
    overflow: hidden;
    border-radius: 0 5px 0 5px;
    border: 1px solid pink; }
    .magic-head .magic-eye .magic-eyeball {
      width: 5px;
      height: 5px;
      background: black;
      border-radius: 100px;
      position: absolute;
      top: -2px;
      left: 2px; }
  .magic-head .magic-eye2 {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 5px 0 5px 0;
    position: absolute;
    top: 8px;
    left: 19px;
    overflow: hidden;
    border: 1px solid pink; }
    .magic-head .magic-eye2 .magic-eyeball2 {
      width: 5px;
      height: 5px;
      background: black;
      border-radius: 100px;
      top: -2px;
      position: absolute;
      left: 0px; }
  .magic-head .magic-nose {
    width: 3px;
    height: 4px;
    background: #ffa726;
    position: absolute;
    top: 16px;
    left: 13px;
    border-radius: 28px; }
  .magic-head .magic-lip {
    width: 9px;
    height: 2px;
    background: deeppink;
    position: absolute;
    top: 21px;
    left: 11px;
    border-radius: 5px 5px 0px 0px; }
    .magic-head .magic-lip .magic-mouth {
      width: 9px;
      height: 2px;
      background: red;
      position: absolute;
      top: 1px;
      left: 0px;
      overflow: hidden;
      border-radius: 0 0 5px 5px; }
      .magic-head .magic-lip .magic-mouth .magic-teeth {
        width: 9px;
        height: 2px;
        background: white;
        position: absolute;
        top: 0px;
        left: 0px; }
    .magic-head .magic-lip .magic-lip2 {
      width: 9px;
      height: 2px;
      background: deeppink;
      position: absolute;
      top: 1px;
      left: 0px;
      border-radius: 0 0 5px 5px; }

.magic-necklace {
  width: 10px;
  height: 6px;
  background: repeating-linear-gradient(#fff59d, #fbc02d);
  position: absolute;
  top: 61px;
  left: 2px;
  z-index: -999999; }

.magic-body {
  width: 30px;
  border-top: 16px solid #512da8;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 67px;
  left: -8px; }

/*# sourceMappingURL=magic.css.map */
