/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
  font-size: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  height: 1%; }

.clearfix {
  display: flow-root; }

input[type='button'], input[type='submit'], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

button {
  outline: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

.shan-li-boxcontrol {
  width: 43px;
  height: 115px;
  position: absolute;
  margin: calc(-115px/2) 0 0 calc(-43px/2);
  top: 56%;
  left: 51%;
  transform-style: preserve-3d;
  transform: translateZ(10px);
  transform-origin: center bottom;
  z-index: 99999999999999; }
  .shan-li-boxcontrol .shan-li-hair1 {
    width: 45px;
    height: 18px;
    background: linear-gradient(to left, #c62828, #f44336, #c62828);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    position: absolute;
    top: -22px;
    left: -5px; }
  .shan-li-boxcontrol .shan-li-hair2 {
    width: 10px;
    height: 35px;
    background: linear-gradient(to bottom, #c62828, #f44336);
    border-top-left-radius: 11px;
    border-bottom-left-radius: 12px;
    position: absolute;
    top: -14px;
    left: -5px; }
  .shan-li-boxcontrol .shan-li-hair3 {
    width: 10px;
    height: 33px;
    background: linear-gradient(to bottom, #c62828, #f44336);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -10px;
    left: 31px; }
  .shan-li-boxcontrol .shan-li-head {
    width: 34px;
    height: 33px;
    background: #ffcc80;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    position: absolute;
    top: -4px;
    left: 1px; }
    .shan-li-boxcontrol .shan-li-head .shan-li-eyebrow {
      position: absolute;
      width: 11px;
      height: 3px;
      background: #795548;
      top: 4px;
      left: 3px;
      -ms-transform: rotate(15deg);
      transform: rotatez(15deg); }
    .shan-li-boxcontrol .shan-li-head .shan-li-eyebrow2 {
      position: absolute;
      width: 11px;
      height: 3px;
      background: #795548;
      top: 4px;
      left: 21px;
      -ms-transform: rotate(-15deg);
      transform: rotateZ(-15deg); }
    .shan-li-boxcontrol .shan-li-head .shan-li-eye {
      position: absolute;
      width: 13px;
      height: 2px;
      border: 0.5px solid;
      background: white;
      overflow: hidden;
      top: 10px;
      left: 1px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 10px;
      -ms-transform: rotate(15deg);
      transform: rotateZ(5deg); }
      .shan-li-boxcontrol .shan-li-head .shan-li-eye .shan-li-eyeball {
        position: absolute;
        width: 8px;
        height: 8px;
        background: #ef5350;
        top: -1px;
        left: 3px;
        border-radius: 10px;
        animation: lieyeball 5s ease-in-out backwards infinite; }
    .shan-li-boxcontrol .shan-li-head .shan-li-eye2 {
      position: absolute;
      width: 13px;
      height: 2px;
      border: 0.5px solid;
      background: white;
      top: 10px;
      left: 20px;
      -ms-transform: rotate(-15deg);
      transform: rotateZ(-8deg);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      animation: shanlieye2 1s linear forwards; }
@keyframes shanlieye2 {
  100% {
    height: 7px;
    top: 7px; } }
      .shan-li-boxcontrol .shan-li-head .shan-li-eye2 .shan-li-eyeball2 {
        position: absolute;
        width: 8px;
        height: 7px;
        background: #ef5350;
        top: 0px;
        left: 0px;
        border-radius: 10px;
        animation: lieyeball 5s ease-in-out infinite; }
@keyframes lieyeball {
  30% {
    background: #42a5f5; }
  60% {
    background: #ef5350; }
  90% {
    background: #42a5f5; } }
    .shan-li-boxcontrol .shan-li-head .shan-li-nose {
      position: absolute;
      width: 8px;
      height: 6px;
      top: 13px;
      left: 14px;
      border-bottom: 8px solid #ffa726;
      border-left: 3px solid transparent;
      border-right: 5px solid transparent;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 4px; }
    .shan-li-boxcontrol .shan-li-head .shan-li-lips {
      position: absolute;
      width: 10px;
      height: 2px;
      background: #d32f2f;
      top: 23px;
      left: 13px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .shan-li-boxcontrol .shan-li-head .shan-li-mouth {
      position: absolute;
      width: 10px;
      height: 2px;
      overflow: hidden;
      background: linear-gradient(to top, #d32f2f, #ffcdd2);
      top: 24px;
      left: 13px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .shan-li-boxcontrol .shan-li-head .shan-li-mouth .shan-li-teeth {
        position: absolute;
        width: 10px;
        height: 1px;
        background: white;
        top: 0px;
        left: 0px; }
  .shan-li-boxcontrol .shan-li-neck {
    position: absolute;
    width: 10px;
    height: 6px;
    background: #ffa726;
    top: 27px;
    left: 13px;
    z-index: -999; }
    .shan-li-boxcontrol .shan-li-neck:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #fb8c00;
      top: 2px;
      left: 0px;
      border-radius: 10px; }
  .shan-li-boxcontrol .shan-li-body {
    position: absolute;
    width: 30px;
    height: 20px;
    background: #f06292;
    top: 27px;
    left: 3px;
    z-index: -9999;
    animation: libody 1s linear infinite; }
@keyframes libody {
  30% {
    transform: translateY(1px); }
  60% {
    transform: translatey(-2px); } }
    .shan-li-boxcontrol .shan-li-body .shan-li-mimi {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #f48fb1;
      top: 9px;
      left: -2px;
      border-radius: 50px;
      animation: mimi 1s linear infinite; }
@keyframes mimi {
  30% {
    transform: translatey(1px); }
  60% {
    transform: translateY(-1px); } }
    .shan-li-boxcontrol .shan-li-body .shan-li-mimi2 {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #f48fb1;
      top: 9px;
      left: 18px;
      border-radius: 50px;
      animation: mimi 1s linear infinite; }
  .shan-li-boxcontrol .shan-li-arm {
    position: absolute;
    width: 10px;
    height: 15px;
    background: linear-gradient(to top, #e91e63, #f06292);
    top: 28px;
    left: -4px;
    z-index: -999999;
    transform: rotateX(10deg) rotatez(10deg);
    transform-origin: center top;
    animation: liarm 1s linear infinite; }
@keyframes liarm {
  50% {
    transform: rotatex(15deg) rotatez(15deg); } }
  .shan-li-boxcontrol .shan-li-arm2 {
    position: absolute;
    width: 10px;
    height: 15px;
    background: linear-gradient(to top, #e91e63, #f06292);
    top: 28px;
    left: 30px;
    z-index: -999999;
    transform-origin: center top;
    transform: rotatex(10deg) rotatez(-10deg);
    animation: liarm2 1s linear infinite; }
@keyframes liarm2 {
  50% {
    transform: rotateX(15deg) rotateZ(-15deg); } }
  .shan-li-boxcontrol .shan-li-lowarm {
    position: absolute;
    width: 10px;
    height: 15px;
    background: #ffb74d;
    top: 38px;
    left: -10px;
    transform-origin: center top;
    transform: rotatex(10deg) rotatez(-10deg);
    animation: lowarm 1s linear infinite; }
@keyframes lowarm {
  50% {
    transform: rotateX(15deg) rotateZ(-15deg); } }
    .shan-li-boxcontrol .shan-li-lowarm .shan-li-hand {
      position: absolute;
      width: 15px;
      height: 15px;
      background: wheat;
      border: .5px solid;
      top: 11px;
      left: -1px;
      border-radius: 50px; }
  .shan-li-boxcontrol .shan-li-lowarm2 {
    position: absolute;
    width: 10px;
    height: 15px;
    background: #ffb74d;
    top: 39px;
    left: 36px;
    transform-origin: center top;
    transform: rotatex(10deg) rotatez(10deg);
    animation: lowarm2 1s linear infinite; }
@keyframes lowarm2 {
  50% {
    transform: rotateX(15deg) rotatez(15deg); } }
    .shan-li-boxcontrol .shan-li-lowarm2 .shan-li-hand2 {
      position: absolute;
      width: 15px;
      height: 15px;
      background: wheat;
      top: 11px;
      left: -2px;
      border-radius: 50px;
      border: .5px solid; }
  .shan-li-boxcontrol .shan-li-peegu {
    position: absolute;
    width: 36px;
    height: 10px;
    border-bottom: 10px solid #ec407a;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    /* border-bottom-left-radius: 5px; */
    top: 52px;
    left: -1px;
    z-index: -999999;
    animation: shanlipeegu 1s linear infinite; }
@keyframes shanlipeegu {
  30% {
    transform: translatey(1px); }
  60% {
    transform: translateX(-1px); } }
  .shan-li-boxcontrol .shan-li-leg {
    position: absolute;
    width: 14px;
    height: 20px;
    border-top: 20px solid #e91e63;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    top: 60px;
    left: -5px;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: rotatex(42deg) rotatez(4deg);
    animation: lileg 1s linear infinite; }
@keyframes lileg {
  50% {
    transform: rotatex(39deg) rotateZ(16deg); } }
  .shan-li-boxcontrol .shan-li-leg2 {
    position: absolute;
    width: 14px;
    height: 20px;
    border-top: 20px solid deeppink;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    top: 60px;
    left: 26px;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: rotatex(39deg) rotatez(-10deg);
    animation: lileg2 1s linear infinite; }
@keyframes lileg2 {
  50% {
    transform: rotatex(38deg) rotateZ(-32deg); } }
  .shan-li-boxcontrol .shan-li-lowleg {
    position: absolute;
    width: 15px;
    height: 10px;
    /* background: #ec407a; */
    border-bottom: 10px solid deeppink;
    top: 70px;
    left: -9px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: rotatez(5deg);
    animation: lowleg 1s linear infinite; }
@keyframes lowleg {
  50% {
    left: -13px;
    transform: rotatez(13deg); } }
    .shan-li-boxcontrol .shan-li-lowleg .shan-li-feet {
      position: absolute;
      width: 15px;
      height: 10px;
      /* background: darkred; */
      /* border: 0.5px solid; */
      top: 9px;
      left: -3px;
      border-bottom: 10px solid darkred;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  .shan-li-boxcontrol .shan-li-lowleg2 {
    position: absolute;
    width: 15px;
    height: 10px;
    border-bottom: 10px solid deeppink;
    top: 70px;
    left: 28px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    -ms-transform-origin: center top;
    transform-origin: center top;
    transform: rotatez(-9deg);
    animation: lowleg2 1s linear infinite; }
@keyframes lowleg2 {
  50% {
    left: 32px;
    transform: rotatez(-23deg); } }
    .shan-li-boxcontrol .shan-li-lowleg2 .shan-li-feet2 {
      position: absolute;
      width: 15px;
      height: 10px;
      /* background: darkred; */
      /* border: 0.5px solid; */
      top: 9px;
      left: -3px;
      border-bottom: 10px solid darkred;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  .shan-li-boxcontrol .shan-li-horse-hair {
    position: absolute;
    top: 24px;
    left: 13px;
    width: 10px;
    border-bottom: 15px solid #f44336;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: horsehair 1s linear infinite; }
@keyframes horsehair {
  50% {
    border-bottom: 14px solid #c62828;
    top: 31px; } }
  .shan-li-boxcontrol .shan-li-horse-head {
    position: absolute;
    top: 38px;
    left: 8px;
    width: 20px;
    height: 10px;
    border-top: 30px solid #5d4037;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 0 0 5px 5px;
    z-index: 99999;
    animation: horsehead 1s linear infinite; }
@keyframes horsehead {
  30% {
    transform: translateY(-1px);
    border-top: 29px solid #5d4037; }
  60% {
    transform: translateY(1px);
    border-top: 30px solid #5d4037; } }
    .shan-li-boxcontrol .shan-li-horse-head .shan-li-horse-eye {
      position: absolute;
      width: 7px;
      height: 5px;
      background: #e53935;
      top: -28px;
      left: -2px;
      border-radius: 0 3px 0 3px;
      transform: rotatez(10deg); }
      .shan-li-boxcontrol .shan-li-horse-head .shan-li-horse-eye .shan-li-horse-eyeball {
        position: absolute;
        width: 4px;
        height: 4px;
        background: black;
        top: 0px;
        left: 1px;
        border-radius: 30px;
        animation: horseeyeball .5s linear infinite; }
@keyframes horseeyeball {
  50% {
    transform: translateX(-1px); } }
    .shan-li-boxcontrol .shan-li-horse-head .shan-li-horse-eye2 {
      position: absolute;
      width: 7px;
      height: 5px;
      background: #e53935;
      top: -28px;
      left: 7px;
      border-radius: 3px 0px 3px 0px;
      transform: rotatez(-10deg); }
      .shan-li-boxcontrol .shan-li-horse-head .shan-li-horse-eye2 .shan-li-horse-eyeball2 {
        position: absolute;
        width: 4px;
        height: 4px;
        background: black;
        top: 0px;
        left: 1px;
        border-radius: 30px;
        animation: horseeyeball2 .5s linear infinite; }
@keyframes horseeyeball2 {
  50% {
    transform: translateX(1px); } }
    .shan-li-boxcontrol .shan-li-horse-head .shan-li-horse-nose {
      position: absolute;
      width: 14px;
      height: 10px;
      /* background: #fbc02d; */
      top: -4px;
      left: -1px;
      border-top: 10px solid gold;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transform-origin: center top;
      z-index: 9999;
      animation: horsenose 1s linear infinite; }
@keyframes horsenose {
  50% {
    border-top: 9px solid gold; } }
  .shan-li-boxcontrol .shan-li-horse-neck {
    position: absolute;
    width: 26px;
    height: 21px;
    top: 58px;
    left: 5px;
    border-bottom: 26px solid #bf360c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index: -99;
    animation: horseneck 2s linear infinite; }
@keyframes horseneck {
  50% {
    border-bottom: 25px solid #bf360c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; } }
  .shan-li-boxcontrol .shan-li-horse-body {
    position: absolute;
    width: 34px;
    height: 10px;
    top: 66px;
    left: 1px;
    border-bottom: 26px solid brown;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index: -9999;
    animation: horsebody 1s linear infinite; }
@keyframes horsebody {
  50% {
    transform: scale(1.1); } }
  .shan-li-boxcontrol .shan-li-horse-sit {
    position: absolute;
    background: linear-gradient(to top, #ef9a9a, #d32f2f);
    width: 30px;
    height: 20px;
    top: 75px;
    left: 3px;
    font-size: 14px;
    line-height: 19px;
    transform-origin: center top;
    color: #fff9c4;
    font-family: 'Impact, Haettenschweiler, Arial Narrow Bold, sans-serif';
    text-align: center;
    z-index: 100;
    animation: horsesit 1s linear infinite; }
@keyframes horsesit {
  40% {
    transform: rotatex(10deg) translateY(-2px); } }
  .shan-li-boxcontrol .shan-li-horse-mask {
    position: absolute;
    width: 5px;
    height: 31px;
    background: #fbc02d;
    top: 37px;
    left: 15px;
    z-index: 999999;
    animation: horsemask 1s linear infinite; }
@keyframes horsemask {
  50% {
    transform: translateY(3px); } }
  .shan-li-boxcontrol .shan-li-horse-circle {
    width: 10px;
    position: absolute;
    top: 76px;
    border-top: 5px solid gold;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    left: 13px; }
  .shan-li-boxcontrol .shan-li-horse-line3 {
    position: absolute;
    width: 3px;
    height: 40px;
    background: white;
    top: 35px;
    left: 11px;
    z-index: 99999999;
    transform: rotatez(-55deg) rotateX(60deg);
    border: 1px solid;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transform-origin: center bottom;
    animation: line3 1s linear infinite; }
@keyframes line3 {
  50% {
    transform: rotateZ(-20deg) rotateX(70deg); } }
  .shan-li-boxcontrol .shan-li-horse-line4 {
    position: absolute;
    width: 3px;
    height: 40px;
    background: white;
    top: 35px;
    left: 21px;
    z-index: 99999999;
    transform: rotatez(30deg) rotateX(60deg);
    border: 1px solid;
    transform-origin: center bottom;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    animation: line4 1s linear infinite; }
@keyframes line4 {
  50% {
    transform: rotateZ(20deg) rotateX(70deg); } }
  .shan-li-boxcontrol .shan-li-horse-line5 {
    position: absolute;
    width: 3px;
    height: 46px;
    background: white;
    top: 30px;
    left: 19px;
    transform: rotatez(-90deg);
    border: 1px solid;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    z-index: -9;
    animation: line5 1s linear infinite; }
@keyframes line5 {
  40% {
    transform: translateY(1px) rotatez(-90deg); }
  80% {
    transform: translateY(-1px) rotatez(-90deg); } }
  .shan-li-boxcontrol .shan-li-horse-frontleg {
    position: absolute;
    top: 92px;
    left: 0px;
    width: 12px;
    border-top: 10px solid #d84315;
    border-left: 2px solid transparent;
    border-right: 1px solid transparent;
    transform-origin: center top; }
  .shan-li-boxcontrol .shan-li-horse-frontlowleg {
    position: absolute;
    top: 98px;
    left: -1px;
    width: 14px;
    border-bottom: 15px solid #ff7043;
    border-left: 4px solid transparent;
    border-right: 1px solid transparent;
    transform-origin: center top;
    z-index: 9999;
    animation: frontlowleg 1s ease-in infinite; }
@keyframes frontlowleg {
  40% {
    transform: rotateX(0px);
    top: 92px;
    width: 16px;
    left: -2px; }
  80% {
    transform: rotatex(-30deg);
    top: 101px;
    border-bottom: 18px solid #e64a19; } }
    .shan-li-boxcontrol .shan-li-horse-frontlowleg .shan-li-horse-feet {
      position: absolute;
      top: 11px;
      left: -2px;
      width: 10px;
      height: 10px;
      background: black;
      border-radius: 5px 5px 0 0;
      z-index: -999;
      animation: horsefeet 1s ease-in infinite; }
@keyframes horsefeet {
  40% {
    width: 12px;
    left: -2px; } }
  .shan-li-boxcontrol .shan-li-horse-frontleg2 {
    position: absolute;
    top: 92px;
    left: 24px;
    width: 12px;
    border-top: 10px solid #d84315;
    border-left: 1px solid transparent;
    border-right: 2px solid transparent;
    transform-origin: center top;
    animation: frontleg2 1s ease-in backwards infinite; }
@keyframes frontleg2 {
  40% {
    transform: rotateX(40deg); }
  80% {
    transform: rotateX(20deg); } }
  .shan-li-boxcontrol .shan-li-horse-frontlowleg2 {
    position: absolute;
    top: 98px;
    left: 23px;
    width: 14px;
    border-bottom: 15px solid #ff7043;
    border-left: 1px solid transparent;
    border-right: 4px solid transparent;
    transform-origin: center top;
    z-index: 9999;
    animation: frontlowleg2 1s ease-in infinite; }
@keyframes frontlowleg2 {
  80% {
    transform: rotateX(0px);
    top: 90px;
    width: 15px;
    left: 22px; }
  40% {
    transform: rotatex(-30deg);
    top: 101px;
    border-bottom: 18px solid #e64a19; } }
    .shan-li-boxcontrol .shan-li-horse-frontlowleg2 .shan-li-horse-feet2 {
      position: absolute;
      top: 11px;
      left: 0px;
      width: 10px;
      height: 10px;
      background: black;
      border-radius: 5px 5px 0 0;
      z-index: -999;
      animation: horsefeet2 1s ease-in infinite; }
@keyframes horsefeet2 {
  80% {
    width: 12px;
    left: 0px; } }
  .shan-li-boxcontrol .shan-li-horse-tail {
    position: absolute;
    width: 10px;
    top: 81px;
    left: 13px;
    border-top: 28px solid #c62828;
    border-left: 5px solid transparent;
    border-right: 3px solid transparent;
    transform-origin: center top;
    z-index: -999;
    animation: horsetail 1s linear infinite; }
@keyframes horsetail {
  20% {
    transform: rotateZ(60deg); }
  80% {
    transform: rotateZ(-60deg); } }
  .shan-li-boxcontrol .shan-li-horse-weapon {
    position: absolute;
    width: 5px;
    height: 100px;
    background: #c62828;
    top: -34px;
    left: 41px;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -ms-transform: rotate(100deg);
    transform: rotateZ(-50deg);
    z-index: -999999; }
    .shan-li-boxcontrol .shan-li-horse-weapon .shan-li-horse-flag {
      width: 20px;
      height: 20px;
      position: absolute;
      background: linear-gradient(to right, #ffcdd2, #c62828);
      color: #f8bbd0;
      transform-origin: right center;
      top: 0px;
      text-decoration-line: 1px solid #ad1457;
      left: -15px;
      text-align: center;
      animation: horseflag 1s linear infinite; }
@keyframes horseflag {
  50% {
    color: #ad1457;
    text-shadow: 2px 2px 4px inset rgba(250, 150, 0, 0.5);
    transform: rotateY(50deg); } }
  .shan-li-boxcontrol .shan-li-horse-sword {
    width: 12px;
    border-top: 22px solid #ef5350;
    border-right: 11px solid transparent;
    position: absolute;
    top: -29px;
    left: -59px;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -ms-transform: rotate(-120deg);
    transform: rotatez(120deg); }
  .shan-li-boxcontrol .shan-li-horse-weapon2 {
    position: absolute;
    width: 5px;
    height: 100px;
    background: #1565c0;
    top: -34px;
    left: -15px;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -ms-transform: rotate(-100deg);
    transform: rotateZ(50deg);
    z-index: -99999; }
    .shan-li-boxcontrol .shan-li-horse-weapon2 .shan-li-horse-flag2 {
      width: 20px;
      height: 20px;
      position: absolute;
      background: linear-gradient(to left, #fff9c4, #f9a825);
      color: #c62828;
      transform-origin: left center;
      top: 0px;
      left: 0px;
      text-align: center;
      animation: horseflag2 1s linear infinite; }
@keyframes horseflag2 {
  50% {
    color: #ffcc80;
    text-shadow: 2px 2px 4px 3px rgba(250, 150, 0, 0.5);
    transform: rotatey(50deg); } }
  .shan-li-boxcontrol .shan-li-horse-sword2 {
    width: 12px;
    border-top: 22px solid #ef5350;
    border-left: 11px solid transparent;
    position: absolute;
    top: -29px;
    left: 78px;
    transform-origin: center bottom;
    transform: rotatez(-120deg); }
  .shan-li-boxcontrol .shan-li-horse-effect12 {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100px;
    height: 1px;
    outline: 1px solid black; }

.shan-li-boxcontrol-ex {
  width: 100px;
  height: 100px;
  outline: 1px solid;
  position: absolute;
  top: 150px;
  left: 16%;
  z-index: 999999999; }

.shan-li-hair1-ex {
  width: 45px;
  height: 18px;
  background: #ec407a;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  position: absolute;
  top: -8px;
  left: -4px; }

.shan-li-hair2-ex {
  width: 16px;
  height: 35px;
  background: #ec407a;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 18px;
  position: absolute;
  top: -2px;
  left: -5px;
  z-index: 999; }

.shan-li-hair3-ex {
  width: 10px;
  height: 33px;
  background: #ec407a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -2px;
  left: 31px; }

.shan-li-neck-ex {
  position: absolute;
  width: 10px;
  height: 5px;
  background: #ffcc80;
  top: 35px;
  left: 9px;
  z-index: -999; }
  .shan-li-neck-ex:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 7px;
    background: #ffb74d;
    top: 2px;
    left: 0px;
    border-radius: 10px; }

.shan-li-head-ex {
  width: 32px;
  height: 33px;
  background: #ffcc80;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 17px;
  position: absolute;
  top: 10px;
  left: 5px;
  animation: lihead-ex .5s linear infinite;
  /*.shan-li-lips2 {
      position: absolute;
      width: 6px;
      height: 2px;
      background: $red8;
      top: 31px;
      left: 15px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      animation: lips2 .5s linear infinite;
      @keyframes lips2 {
          50% {
              top: 31px
          }
      }
  }*/ }
  .shan-li-head-ex .shan-li-eyebrow-ex {
    position: absolute;
    width: 11px;
    height: 3px;
    background: #795548;
    top: 5px;
    left: 7px;
    -ms-transform: rotate(15deg);
    transform: rotatez(15deg); }
  .shan-li-head-ex .shan-li-eyebrow2-ex {
    position: absolute;
    width: 11px;
    height: 3px;
    background: #795548;
    top: 4px;
    left: 25px;
    -ms-transform: rotate(-15deg);
    transform: rotateZ(-15deg);
    animation: lieyebrow2-ex .5s linear infinite; }
@keyframes lieyebrow2-ex {
  50% {
    transform: translateY(1px) rotateZ(-15deg); } }
  .shan-li-head-ex .shan-li-eye-ex {
    position: absolute;
    width: 13px;
    height: 7px;
    border: 0.5px solid;
    background: white;
    overflow: hidden;
    top: 9px;
    left: 6px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 7px;
    -ms-transform: rotate(15deg);
    transform: rotateZ(5deg); }
    .shan-li-head-ex .shan-li-eye-ex .shan-li-eyeball-ex {
      position: absolute;
      width: 8px;
      height: 8px;
      background: #ef5350;
      top: -1px;
      left: 4px;
      border-radius: 10px;
      animation: shanlieyeballex 1s linear infinite; }
@keyframes shanlieyeballex {
  50% {
    left: -2px; } }
  .shan-li-head-ex .shan-li-eye2-ex {
    position: absolute;
    width: 9px;
    height: 7px;
    border: 0.5px solid;
    background: white;
    top: 9px;
    left: 24px;
    -ms-transform: rotate(-15deg);
    transform: rotateZ(-8deg);
    border-top-left-radius: 9px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    animation: lieye2-ex .5s linear infinite; }
    .shan-li-head-ex .shan-li-eye2-ex .shan-li-eyeball2-ex {
      position: absolute;
      width: 5px;
      height: 8px;
      background: #ef5350;
      top: -2px;
      left: 2px;
      border-radius: 10px;
      animation: shanlieyeball2ex 1s linear infinite; }
@keyframes shanlieyeball2ex {
  50% {
    left: -2px; } }
  .shan-li-head-ex .shan-li-nose-ex {
    position: absolute;
    width: 8px;
    height: 6px;
    top: 13px;
    left: 19px;
    border-bottom: 8px solid #ffa726;
    border-left: 3px solid transparent;
    border-right: 5px solid transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 4px; }
  .shan-li-head-ex .shan-li-lips-ex {
    position: absolute;
    width: 10px;
    height: 2px;
    background: #d32f2f;
    top: 24px;
    left: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    animation: lilips-ex .5s linear infinite; }
  .shan-li-head-ex .shan-li-mouth-ex {
    position: absolute;
    width: 10px;
    height: 5px;
    overflow: hidden;
    background: red;
    top: 25px;
    left: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: limouth-ex 2s linear infinite; }
@keyframes limouth-ex {
  50% {
    height: 1px; } }
    .shan-li-head-ex .shan-li-mouth-ex .shan-li-teeth-ex {
      position: absolute;
      width: 10px;
      height: 1px;
      background: white;
      top: 0px;
      left: 0px; }

.shan-li-body-ex {
  position: absolute;
  width: 30px;
  height: 20px;
  background: #f06292;
  top: 40px;
  left: 3px;
  z-index: -9999;
  animation: libody-ex .5s linear infinite; }
@keyframes libody-ex {
  30% {
    transform: translatey(1px); }
  60% {
    transform: translatey(-1px); } }
  .shan-li-body-ex .shan-li-mimi-ex {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f48fb1;
    top: 3px;
    left: 8px;
    border-radius: 50px;
    animation: mimi-ex .5s linear infinite; }
@keyframes mimi-ex {
  30% {
    transform: translatey(1px); }
  60% {
    transform: translateY(-1px); } }
  .shan-li-body-ex .shan-li-mimi2-ex {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f48fb1;
    top: 3px;
    left: 22px;
    border-radius: 50px;
    animation: mimi-ex .5s linear infinite; }

.shan-li-arm-ex {
  position: absolute;
  width: 10px;
  height: 25px;
  background: linear-gradient(to top, #e91e63, #f06292);
  top: 40px;
  left: -3px;
  z-index: -999999;
  transform: rotateX(-40deg) rotatez(6deg);
  -ms-transform-origin: center top;
  transform-origin: center top;
  animation: liarm-ex .5s linear infinite; }
@keyframes liarm-ex {
  50% {
    transform: rotatex(-40deg) rotatez(10deg); } }
.shan-li-arm2-ex {
  position: absolute;
  width: 10px;
  height: 29px;
  background: linear-gradient(to top, #e91e63, #f06292);
  top: 40px;
  left: 29px;
  z-index: -999999;
  -ms-transform-origin: center top;
  transform-origin: center top;
  transform: rotatex(-40deg) rotatez(-10deg);
  animation: liarm2-ex .5s linear infinite; }
@keyframes liarm2-ex {
  50% {
    transform: rotateX(-40deg) rotateZ(10deg); } }
.shan-li-lowarm-ex {
  position: absolute;
  width: 7px;
  height: 15px;
  background: #ffb74d;
  top: 59px;
  left: -9px;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(60deg) rotate(-20deg);
  transform: rotatex(36deg) rotatez(-76deg) rotatey(-30deg);
  animation: lowarm-ex .5s linear infinite; }
  .shan-li-lowarm-ex .shan-li-hand-ex {
    position: absolute;
    width: 12px;
    height: 12px;
    background: wheat;
    border: .5px solid;
    top: 11px;
    left: -1px;
    border-radius: 50px; }

.shan-li-lowarm2-ex {
  position: absolute;
  width: 6px;
  height: 9px;
  background: #ffb74d;
  top: 57px;
  left: 39px;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(60deg) rotate(20deg);
  transform: rotatex(37deg) rotatez(53deg) rotatey(66deg);
  z-index: 999999;
  animation: lowarm2-ex .5s linear infinite; }
  .shan-li-lowarm2-ex .shan-li-hand2-ex {
    position: absolute;
    width: 12px;
    height: 12px;
    background: wheat;
    top: 3px;
    left: -2px;
    border-radius: 50px;
    border: .5px solid; }

.shan-li-stomache-ex {
  width: 30px;
  height: 10px;
  background: deeppink;
  position: absolute;
  top: 58px;
  left: 1px;
  z-index: -99; }

.shan-li-peegu-ex {
  position: absolute;
  width: 36px;
  height: 11px;
  border-bottom: 10px solid hotpink;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 64px;
  left: -1px;
  animation: shanlipeegu-ex .5s linear infinite; }
@keyframes shanlipeegu-ex {
  30% {
    transform: translatex(1px); }
  60% {
    transform: translateX(-1px); } }
.shan-li-leg-ex {
  position: absolute;
  width: 20px;
  /* height: 23px; */
  border-top: 24px solid hotpink;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 71px;
  left: -2px;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(56deg) rotate(26deg);
  transform: rotatex(56deg) rotatez(-55deg);
  animation: lileg-ex .5s linear infinite; }
@keyframes lileg-ex {
  30% {
    transform: rotatex(56deg) rotateZ(-45deg); }
  60% {
    transform: rotateX(56deg) rotateZ(-60deg); } }
.shan-li-leg2-ex {
  position: absolute;
  width: 14px;
  height: 20px;
  border-top: 20px solid hotpink;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 69px;
  left: 19px;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(56deg) rotate(-26deg);
  transform: rotatex(51deg) rotatez(-26deg);
  animation: lileg2-ex .5s linear infinite; }
@keyframes lileg2-ex {
  30% {
    transform: rotatex(51deg) rotateZ(-16deg); }
  60% {
    transform: rotateX(51deg) rotateZ(-40deg); } }
.shan-li-lowleg-ex {
  position: absolute;
  width: 13px;
  border-top: 16px solid orange;
  top: 77px;
  left: 20px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(40deg);
  transform: rotatex(40deg) rotatez(-1deg);
  animation: lowleg-ex .5s linear infinite; }
@keyframes lowleg-ex {
  40% {
    transform: rotateX(40deg) rotateZ(-48deg); }
  80% {
    transform: rotateX(40deg) rotateZ(19deg); } }
  .shan-li-lowleg-ex .shan-li-feet-ex {
    position: absolute;
    width: 15px;
    height: 10px;
    top: -1px;
    left: -3px;
    border-bottom: 10px solid darkred;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
.shan-li-lowleg2-ex {
  position: absolute;
  width: 12px;
  height: 10px;
  /* background: #ec407a; */
  border-top: 18px solid orange;
  top: 77px;
  left: 27px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -ms-transform: rotatex(40deg);
  transform: rotatex(40deg) rotatez(-4deg);
  animation: lowleg2-ex .5s linear infinite; }
@keyframes lowleg2-ex {
  80% {
    transform: rotateX(40deg) rotateZ(-36deg); }
  40% {
    transform: rotateX(40deg) rotateZ(13deg); } }
  .shan-li-lowleg2-ex .shan-li-feet2-ex {
    position: absolute;
    width: 15px;
    height: 10px;
    top: -3px;
    left: -3px;
    border-bottom: 10px solid darkred;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.shan-li-horse-hair-ex {
  position: absolute;
  top: 30px;
  left: 12px;
  width: 10px;
  border-bottom: 15px solid #f44336;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  animation: horsehair-ex .5s linear infinite; }
@keyframes horsehair-ex {
  50% {
    border-bottom: 10px solid #c62828;
    top: 36px; } }
.shan-li-horse-head-ex {
  position: absolute;
  top: 45px;
  left: 8px;
  width: 20px;
  height: 10px;
  border-top: 30px solid #5d4037;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 0 0 5px 5px;
  animation: horsehead-ex .5s linear infinite; }
@keyframes horsehead-ex {
  30% {
    transform: translateY(-1px);
    border-top: 20px solid #5d4037; }
  60% {
    transform: translateY(1px);
    border-top: 30px solid #5d4037; } }
  .shan-li-horse-head-ex .shan-li-horse-eye-ex {
    position: absolute;
    width: 7px;
    height: 5px;
    background: #e53935;
    top: -28px;
    left: -2px;
    border-radius: 0 3px 0 3px;
    transform: rotatez(10deg); }
    .shan-li-horse-head-ex .shan-li-horse-eye-ex .shan-li-horse-eyeball-ex {
      position: absolute;
      width: 4px;
      height: 4px;
      background: black;
      top: 0px;
      left: 1px;
      border-radius: 30px;
      animation: horseeyeball-ex .5s linear infinite; }
@keyframes horseeyeball-ex {
  50% {
    transform: translateX(-1px); } }
  .shan-li-horse-head-ex .shan-li-horse-eye2-ex {
    position: absolute;
    width: 7px;
    height: 5px;
    background: #e53935;
    top: -28px;
    left: 7px;
    border-radius: 3px 0px 3px 0px;
    transform: rotatez(-10deg); }
    .shan-li-horse-head-ex .shan-li-horse-eye2-ex .shan-li-horse-eyeball2-ex {
      position: absolute;
      width: 4px;
      height: 4px;
      background: black;
      top: 0px;
      left: 1px;
      border-radius: 30px;
      animation: horseeyeball2-ex .5s linear infinite; }
@keyframes horseeyeball2 {
  50% {
    transform: translateX(1px); } }
  .shan-li-horse-head-ex .shan-li-horse-nose-ex {
    position: absolute;
    width: 14px;
    height: 10px;
    /* background: #fbc02d; */
    top: -4px;
    left: -1px;
    border-top: 10px solid gold;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform-origin: center top;
    animation: horsenose-ex .5s linear infinite; }
@keyframes horsenose-ex {
  50% {
    border-top: 4px solid gold; } }
.shan-li-horse-neck-ex {
  position: absolute;
  width: 26px;
  height: 21px;
  top: 58px;
  left: 5px;
  border-bottom: 26px solid #bf360c;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  z-index: -99;
  animation: horseneck-ex .5s linear infinite; }
@keyframes horseneck-ex {
  50% {
    border-bottom: 22px solid #bf360c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; } }
.shan-li-horse-body-ex {
  position: absolute;
  width: 34px;
  height: 10px;
  top: 66px;
  left: 1px;
  border-bottom: 26px solid brown;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  z-index: -9999;
  animation: horsebody-ex .5s linear infinite; }
@keyframes horsebody-ex {
  50% {
    transform: scale(1.1); } }
.shan-li-horse-sit-ex {
  position: absolute;
  background: linear-gradient(to top, #ef9a9a, #d32f2f);
  width: 30px;
  height: 20px;
  top: 75px;
  left: 3px;
  font-size: 14px;
  line-height: 19px;
  transform-origin: center top;
  color: #f57c00;
  font-family: 'Impact, Haettenschweiler, Arial Narrow Bold, sans-serif';
  text-align: center;
  z-index: 100;
  animation: horsesit-ex .5s linear infinite; }
@keyframes horsesit-ex {
  40% {
    color: #ffe0b2;
    text-shadow: 1px 1px 3px #ffeb3b;
    transform: rotatex(60deg) translateY(-2px);
    background: linear-gradient(to top, #e57373, #f44336); } }
.shan-li-horse-mask-ex {
  z-index: 999999;
  position: absolute;
  width: 5px;
  height: 27px;
  background: #fbc02d;
  top: 41px;
  left: 15px;
  animation: horsemask-ex .5s linear infinite; }
@keyframes horsemask-ex {
  50% {
    transform: translateY(3px); } }
.shan-li-horse-circle-ex {
  width: 10px;
  position: absolute;
  background: grey;
  top: 76px;
  border-top: 5px solid gold;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  left: 13px; }
.shan-li-horse-line3-ex {
  position: absolute;
  width: 3px;
  height: 20px;
  background: white;
  top: 49px;
  left: 10px;
  transform: rotatez(-61deg) rotateX(83deg);
  border: 1px solid;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transform-origin: center bottom;
  animation: line3-ex .4s linear infinite;
  z-index: 99; }
@keyframes line3-ex {
  50% {
    transform: rotateZ(-20deg) rotateX(30deg); } }
.shan-li-horse-line4-ex {
  position: absolute;
  width: 3px;
  height: 21px;
  background: white;
  top: 49px;
  left: 22px;
  transform: rotatez(49deg) rotateX(68deg);
  border: 1px solid;
  transform-origin: center bottom;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  animation: line4-ex .5s linear infinite;
  z-index: 99; }
@keyframes line4-ex {
  50% {
    transform: rotateZ(20deg) rotateX(30deg); } }
.shan-li-horse-line5-ex {
  position: absolute;
  width: 3px;
  height: 46px;
  background: white;
  top: 46px;
  left: 17px;
  transform: rotatez(-90deg);
  border: 1px solid;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  z-index: -9;
  animation: line5-ex .5s linear infinite; }
@keyframes line5-ex {
  to {
    transform: rotateZ(-90deg);
    top: 30px; } }
.shan-li-horse-frontleg-ex {
  position: absolute;
  top: 92px;
  left: 0px;
  width: 12px;
  border-top: 10px solid #d84315;
  border-left: 2px solid transparent;
  border-right: 1px solid transparent;
  transform-origin: center top;
  animation: frontleg-ex .5s ease-in infinite; }
@keyframes frontleg-ex {
  0% {
    transform: rotateX(70deg); }
  100% {
    transform: rotateX(-70deg);
    border-top: 10px solid #4e342e;
    border-left: 4px solid transparent; } }
.shan-li-horse-frontlowleg-ex {
  position: absolute;
  top: 96px;
  left: -1px;
  width: 14px;
  border-bottom: 15px solid #ff7043;
  border-left: 4px solid transparent;
  border-right: 1px solid transparent;
  transform-origin: center top;
  z-index: 9999;
  animation: frontlowleg-ex .5s ease-in infinite; }
@keyframes frontlowleg-ex {
  0% {
    transform: rotateX(20deg); }
  70% {
    transform: rotateX(-90deg);
    border-bottom: 15px solid #ffccbc;
    border-left: 3px solid transparent;
    border-right: 4px solid transparent; } }
  .shan-li-horse-frontlowleg-ex .shan-li-horse-feet-ex {
    position: absolute;
    top: 11px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px 5px 0 0;
    z-index: -999; }
.shan-li-horse-frontleg2-ex {
  position: absolute;
  top: 92px;
  left: 24px;
  width: 12px;
  border-top: 10px solid #d84315;
  border-left: 1px solid transparent;
  border-right: 2px solid transparent;
  transform-origin: center top;
  animation: frontleg2-ex .5s ease-in backwards infinite; }
@keyframes frontleg2-ex {
  0% {
    transform: rotateX(-50deg); }
  100% {
    transform: rotateX(100deg); } }
.shan-li-horse-frontlowleg2-ex {
  position: absolute;
  top: 96px;
  left: 23px;
  width: 14px;
  border-bottom: 15px solid #ff7043;
  border-left: 1px solid transparent;
  border-right: 4px solid transparent;
  transform-origin: center top;
  z-index: 9999;
  animation: frontlowleg2-ex .5s ease-in infinite; }
@keyframes frontlowleg2-ex {
  20% {
    transform: rotateX(90deg); }
  70% {
    transform: rotateX(-40deg);
    border-bottom: 15px solid #ffccbc;
    border-left: 3px solid transparent;
    border-right: 4px solid transparent; } }
  .shan-li-horse-frontlowleg2-ex .shan-li-horse-feet2-ex {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px 5px 0 0;
    z-index: -999; }
.shan-li-horse-effect12-ex {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 100px;
  height: 1px;
  outline: 1px solid black; }
.shan-li-horse-weapon-ex {
  position: absolute;
  width: 5px;
  height: 100px;
  background: #c62828;
  top: -26px;
  left: 41px;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -ms-transform: rotate(100deg);
  transform: rotateZ(-50deg);
  z-index: -999999;
  animation: horseweapon-ex .5s linear infinite; }
@keyframes horseweapon-ex {
  50% {
    transform: rotateZ(-47deg); } }
  .shan-li-horse-weapon-ex .shan-li-horse-flag-ex {
    width: 20px;
    height: 20px;
    position: absolute;
    background: linear-gradient(to right, #ffcdd2, #c62828);
    color: #f8bbd0;
    transform-origin: right center;
    top: 0px;
    text-shadow: 1px 1px 1px #fa9600;
    left: -15px;
    text-align: center;
    animation: horseflag-ex .2s linear infinite; }
@keyframes horseflag-ex {
  50% {
    color: #f48fb1;
    text-shadow: 2px 2px 4px #fa9600;
    transform: rotateY(50deg); } }
.shan-li-horse-sword-ex {
  width: 12px;
  border-top: 22px solid #ef5350;
  border-right: 11px solid transparent;
  position: absolute;
  top: -22px;
  left: -57px;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -ms-transform: rotate(-120deg);
  transform: rotatez(120deg);
  animation: horsesword-ex .5s linear infinite; }
@keyframes horsesword-ex {
  50% {
    top: -24px; } }
.shan-li-horse-weapon2-ex {
  position: absolute;
  width: 5px;
  height: 100px;
  background: #1565c0;
  top: -34px;
  left: -15px;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -ms-transform: rotate(-100deg);
  transform: rotateZ(50deg);
  z-index: -99999;
  animation: horseweapon2-ex .5s linear infinite; }
@keyframes horseweapon2-ex {
  40% {
    transform: rotatez(48deg); } }
  .shan-li-horse-weapon2-ex .shan-li-horse-flag2-ex {
    width: 20px;
    height: 20px;
    position: absolute;
    background: linear-gradient(to left, #fff9c4, #f9a825);
    color: #c62828;
    transform-origin: left center;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: horseflag2-ex .2s linear infinite; }
@keyframes horseflag2-ex {
  50% {
    color: #ffcc80;
    text-shadow: 2px 2px 4px #fa9600;
    transform: rotatey(50deg); } }
.shan-li-horse-sword2-ex {
  width: 12px;
  border-top: 22px solid #ef5350;
  border-left: 11px solid transparent;
  position: absolute;
  top: -26px;
  left: 78px;
  transform-origin: center bottom;
  transform: rotatez(-120deg);
  animation: horsesword2-ex .5s linear infinite; }
@keyframes horsesword2-ex {
  40% {
    top: -28px; } }
.shan-li-cat-boxcontrol {
  width: 43px;
  height: 115px;
  outline: 1px solid;
  position: absolute;
  top: 4%;
  left: 29%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(10px);
  transform-origin: center bottom;
  z-index: 99999999999999; }

.shan-li-cat {
  transform-style: preserve-3d;
  width: 30px;
  height: 30px;
  outline: 1px solid;
  position: absolute;
  top: 0px;
  left: 0px; }
  .shan-li-cat .shan-li-cat-head {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-ear1 {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-ear2 {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo1 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo2 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo3 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo4 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo5 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }
    .shan-li-cat .shan-li-cat-head .shan-li-cat-mo6 {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: 1px solid blue; }

/*# sourceMappingURL=shanli.css.map */
