<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' src='../bootstrap-4.0.0-beta.2-dist/css/bootstrap.css'>
    <script src='../bootstrap-4.0.0-beta.2-dist/js/bootstrap.js'></script>
    <link src='../sass/main.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="icon.png">


    <title>Mr.Judo</title>
</head>


<body>
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm">this is cow this is cow this is cow</div>
            <div class="col-sm">sm sm sm sm</div>
            <div class='col-sm'>shshishsishish</div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-xs-12 col-lg-2 bg-danger">
                <p class='text-lg-center'>col</p>
            </div>
            <div class="col col-xs-12 col-lg-2  bg-info text-lg-center">kol</div>
            <div class="col col-xs-12 col-lg-2 bg-success">col</div>
        </div>
        <div class='row'>
            <h1 class="display-1">this is that</h1>
            <h1 class="display-2">this is that</h1>
            <h1 class="display-3">this is that</h1>
            <h1 class="lead">this is that</h1>

        </div>
    </div>

</body>

</html>
